<head>
    <link href="/css/community/commun_view.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
  </head>
  
  <div class="community_wrapper">
    <div class="selection">
      <button class="select select1" type="button" value="1" onclick="changeColor(this)">
          <label>
            <span>고민상담소</span>
          </label>
        </button>
        <button class="select select2" type="button" value="2" onclick="changeColor(this)">
          <label>
            <span>정보 공유</span>
          </label>
        </button>
        
        <script>
        function changeColor(button) {
          const buttons = document.getElementsByClassName('select');
          for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('write_active');
          }
          button.classList.add('write_active');
        }
        </script>
                      
    </div>
    <%-include ('./community-side.ejs') %>
    <div class="community_container">
        <div class="title"><h2> <%= communityResult[0].title %></h2></div>
        <div class="subinfo">
          <img class = "profile" src="/img/profile.png" alt="">
          <p class = "user"><%= communityResult[0].user_id %></p>
          <p class="time"> <%= communityResult[0].updated_at %></p>
        </div>
       
          
          <div class="view_wrapper">
            <%- communityResult[0].content %>
            
            
                
        
    </div>
    <button class="select select3" type="button" value="2">
    <label>
        <div>댓글</div>
      </label>
    </button>
    <div class="comment_wrapper">
        <div class = "comment_input">
            <input type="text" placeholder="댓글을 입력하세요" style="border: none;">
        </div>
        <button class="select select4" type="button" value="4" onclick="changeColor(this)">
            <label>
                <div>댓글</div>
              </label>
        </button>
        <div class="comment"> 
          <% for (let i = 0; i < commentResult.length; i++) { %>
            <div class="comment">
                <div>                    
                    <div class="comment_content"><%= commentResult[i].content %></div>
                    <div class="writer_id"><%= commentResult[i].user_id %></div>
                </div>
            </div>
        <% } %>  
          <div>
            <div class="comment_content">댓글 내용이 들어갑니다</div>
            <div class="writer_id"> 작성자 ID </div>            
          </div>
        </div>
    </div>
    
    
  </div>
  
  