<head>
  <link href="/css/calendar/calendar.css" rel="stylesheet">
  <link href="/css/calendar/calendar_check.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">


      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

        <!-- ======= calendar ======= -->
        <table class="scriptCalendar">
          <thead>
            <tr>
              <td onClick="prevCalendar();" style="cursor:pointer;">&#60;&#60;</td>
              <td colspan="5">
                <span id="calYear">YYYY</span>년
                <span id="calMonth">MM</span>월
              </td>
              <td onClick="nextCalendar();" style="cursor:pointer;">&#62;&#62;</td>
            </tr>
            <tr>
              <td>일</td>
              <td>월</td>
              <td>화</td>
              <td>수</td>
              <td>목</td>
              <td>금</td>
              <td>토</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- ======= symptom_check ======= -->
      <div class="col-lg-5 pt-lg-0 order-2 order-lg-1">
        <form action="http://localhost:3000/calendar" method="post" id="calendarForm">
          <!-- post시 쿼리스트링 그대로 보내기 -->
          <script>
            // 현재 URL에서 쿼리 문자열 가져오기
            const queryString = window.location.search;
            
            // form의 action URL에 쿼리 문자열 추가
            const form = document.getElementById('calendarForm');
            form.action += queryString;
          </script>
        <div class="symptom_check">
          <div>
            <div class="symptom_check_left">
              <div class="date">
                <div class="title"> <p id = "selected_date"> 날짜 </p></div>
                  <!-- <script>
                  date = new Date();
                  year = date.getFullYear();
                  month = date.getMonth() + 1;
                  day = date.getDate();
                  document.getElementById("current_date").innerHTML = "날짜: "+ year + "/" + month + "/" + day;
                  </script> -->
              </div>

              <div class="hospital">
                <div class="title"><p>병원 일정</p></div>
                <div class="hospitalContent">
                  <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.hospital_schedule !== 'undefined' && calendarDataResult.hospital_schedule && typeof calendarDataResult.hospital_schedule.hospital_name !== 'undefined') { %>
                    <input id="inputhosName" type="text"  name="hospital_name"  value="<%= calendarDataResult.hospital_schedule.hospital_name %>">

                  <% } else { %>
                    <input id="inputhosName" type="text"  name="hospital_name"  value="">
                  <% } %>
                  
                  
                  
                  
                  <div class="hospitalTime">
                    <div class="box-body">
                      <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.hospital_schedule !== 'undefined' && calendarDataResult.hospital_schedule && typeof calendarDataResult.hospital_schedule.booking_hour !== 'undefined') { %>
                      
                        <% const hour =  calendarDataResult.hospital_schedule.booking_hour%>

                        <select id="9to6" name="hospital_schedule"  autocomplete="off">
                          <option value="9:00:00" <% if (hour === '9:00:00') { %>selected<% } %>>9:00</option>
                          <option value="10:00:00" <% if (hour === '10:00:00') { %>selected<% } %>>10:00</option>
                          <option value="11:00:00" <% if (hour === '11:00:00') { %>selected<% } %>>11:00</option>
                          <option value="12:00:00" <% if (hour === '12:00:00') { %>selected<% } %>>12:00</option>
                          <option value="13:00:00" <% if (hour === '13:00:00') { %>selected<% } %>>13:00</option>
                          <option value="14:00:00" <% if (hour === '14:00:00') { %>selected<% } %>>14:00</option>
                          <option value="15:00:00" <% if (hour === '15:00:00') { %>selected<% } %>>15:00</option>
                          <option value="16:00:00" <% if (hour === '16:00:00') { %>selected<% } %>>16:00</option>
                          <option value="17:00:00" <% if (hour === '17:00:00') { %>selected<% } %>>17:00</option>
                          <option value="18:00:00" <% if (hour === '18:00:00') { %>selected<% } %>>18:00</option>
                        </select>
                        <% } else { %>
                          <select id="9to6"name="hospital_schedule"  autocomplete="off">
                            <option value="9:00:00">9:00</option>
                            <option value="10:00:00">10:00</option>
                            <option value="11:00:00">11:00</option>
                            <option value="12:00:00">12:00</option>
                            <option value="13:00:00">13:00</option>
                            <option value="14:00:00">14:00</option>
                            <option value="15:00:00">15:00</option>
                            <option value="16:00:00">16:00</option>
                            <option value="17:00:00">17:00</option>
                            <option value="18:00:00">18:00</option>
                          </select>
                          <% }  %>

                    </div>
                  </div>
                </div>
              </div>


             
              <div class="check">
                <div class="titleC"> <p id="checkli"> 체크사항 </p> </div>
                <div class="checkTB1">
                  <div id="item_list">
                    <table>
                        <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.check_list !== 'undefined' && calendarDataResult.check_list && calendarDataResult.check_list.length !== 0) { %>
                  
                          <script>
                            // 아이템들을 담을 아이템 리스트
                            let itemList = [];
                            let chkList = [];
                            function toggleItem(event, index) {
                              const itemId = index !== undefined ? `default_${index}` : event.target.id;
                                const itemIndex = parseInt(itemId.replace('default_', ''));
                                chkList[itemIndex] = event.target.checked ? 1 : 0;
                            }
                          
                            // 아이템리스트 출력 메서드 (테이블)
                            function showList() {
                              // 아이템 리스트를 for 문을 돌면서 테이블 태그로 생성
                              let list = "<table>";
                        
                              // 추가된 아이템 출력
                              for (let i = 0; i < itemList.length; i++) {

                                list += `<tr>
                                  <td class="item">
                                    <div class="checkbox">
                                      <input type="checkbox" id="${i}" ${chkList[i] == 1 ? 'checked' : ''} />
                                    </div>
                                    <div class="content"><input type="text" name="check_content" style="border:none" value="${itemList[i]}" readonly/ ></div>
                                  </td>
                                </tr>`;
                              }
                        
                              list += "</table>";
                        
                                // 테이블 태그 출력
                                document.querySelector("#item_list").innerHTML = list;
  
                                // 아이템 리스트에서 체크박스 이벤트를 할당
                              let checkboxes = document.querySelectorAll(".item input[type='checkbox']");
                              for (let i = 0; i < checkboxes.length; i++) {
                                 checkboxes[i].onclick = toggleItem;
                              }
                            }
                            // 페이지 로드 시 리스트 출력
                            window.addEventListener("load", function () {
                              showList();
                            });
                          </script>

                          <% for (let i = 0; i < calendarDataResult.check_list.length; i++) { %>
                            <tr>
                              <td class="item">
                                <div class="checkbox">
                                  <script> itemList.push('<%= calendarDataResult.check_list[i].content %>');
                                    chkList.push('<%= calendarDataResult.check_list[i].is_check %>');
                                  </script>
                                  <input type="checkbox" id="<%= i %>" <%= calendarDataResult.check_list[i].is_check === 1 ? 'checked' : '' %> />
                                </div>
                                <div class="content"><%= calendarDataResult.check_list[i].content %></div>
                              </td>
                            </tr>                         
                            
                          <% } %>

                          <% } else { %>
                            <!-- <input id="inputhosName" type="text" name="inputhosNametext" value=""> -->
              
                            <!-- Default Contents -->
                            <script>
                              // 아이템들을 담을 아이템 리스트
                              itemList = [];
                              chkList = [];
                              function toggleItem(event, index) {
                              const itemId = index !== undefined ? `default_${index}` : event.target.id;
                              const itemIndex = parseInt(itemId.replace('default_', ''));
                               chkList[itemIndex] = event.target.checked ? 1 : 0;
                              }
                          // 디폴트 항목 출력
                           const defaultItems = [
                              { content: "아침 약 복용", is_check: 0 },
                              { content: "점심 약 복용", is_check: 0 },
                              { content: "저녁 약 복용", is_check: 0 }
                            ];
                           
                            // defaultItems의 체크 여부를 chkList 배열에 초기값으로 설정
                            for (let i = 0; i < defaultItems.length; i++) {
                              itemList.push(defaultItems[i].content);
                              chkList.push(defaultItems[i].is_check);
                            }
  
                                                    // 아이템리스트 출력 메서드 (테이블)
                              function showList() {
                                // 아이템 리스트를 for 문을 돌면서 테이블 태그로 생성
                                let list = "<table>";
  
                               
  
                              // 추가된 아이템 출력
                              for (let i = 0; i < itemList.length; i++) {
                                    list += `<tr>
                                      <td class="item">
                                        <div class="checkbox">
                                          <input type="checkbox"  id="${i}" ${chkList[i] == 1 ? 'checked' : ''} />
                                        </div>
                                        <div class="content"><input type="text" name="check_content" style="border:none" value="${itemList[i]}" readonly/ ></div>
                                      </td>
                                    </tr>`;
                                  }
  
                              list += "</table>";
  
                              // 테이블 태그 출력
                              document.querySelector("#item_list").innerHTML = list;
  
                              // 아이템 리스트에서 체크박스 이벤트를 할당
                              let checkboxes = document.querySelectorAll(".item input[type='checkbox']");
                              for (let i = 0; i < checkboxes.length; i++) {
                                checkboxes[i].onclick = toggleItem;
                              }
                              }
                              // 페이지 로드 시 리스트 출력
                              window.addEventListener("load", function () {
                                showList();
                              });
  
                            </script>
                          <% } %>

                      
                    </table>
                  </div>
                  <script>
                    // 폼 제출 시 chkList 값을 전송하는 함수
                   function submitCheck() {
                       const form = document.getElementById("calendarForm");
                       const chkInputs = form.querySelectorAll(".item input[type='checkbox']");
    
                       chkInputs.forEach((input, index) => {
                      const hiddenInput = document.createElement("input");
                     hiddenInput.type = "hidden";
                     hiddenInput.name = "is_check[]";
                      hiddenInput.value = input.checked ? 1 : 0;
                          form.appendChild(hiddenInput);
                          });
                      
                          form.submit();
                        }
                  </script>
                  <form id="checkForm">
                    <div class="additemdiv">
                      <input type="text" id="item"  />
                      <button type="button" id="add" class="addBtn">추가</button> 
                    </div>
                  </form>
                </div>
              </div>
                                 
    
             

              <div class="sleeping-time">
                <div class="title"> <p> 수면시간 </p> </div>
                <div class="time">
                
                  <button class="btn three" type="button" value="3">
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>3시간↓</span>
                    </label>
                  </button>
                  <button class="btn four" type="button" value="4">
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>4시간</span>
                    </label>
                  <button class="btn five" type="button" value="5">
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>5시간</span>
                    </label> 
                  </button>
                  <button class="btn six" type="button" value="6">    
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>6시간</span>
                    </label> 
                  </button>
                  <button class="btn seven" type="button" value="7">    
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>7시간</span>
                    </label> 
                  </button>
                  <button class="btn eight" type="button" value="8">    
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>8시간</span>
                    </label> 
                  </button>
                  <button class="btn nine" type="button" value="9">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>9시간</span>
                    </label> 
                  </button>
                  <button class="btn ten" type="button"  value="10">   
                    <label>
                      <!-- <input type="checkbox" checked> -->
                      <span>10시간</span>
                    </label> 
                  </button>
                  <button class="btn eleven" type="button" value="11">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>11시간</span>
                    </label> 
                  </button>
                  <button class="btn twelve"  type="button" value="12">  
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>12시간</span>
                    </label> 
                  </button>
                  <button class="btn thirteen"  type="button" value="13">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>13시간</span>
                    </label> 
                  </button>
                  <button class="btn fourteen" type="button" value="14">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>14시간</span>
                    </label> 
                  </button>
                  <button class="btn fifteen" type="button" value="15">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>15시간</span>
                    </label> 
                  </button>
                  <button class="btn sixteen" type="button" value="16">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>16시간</span>
                    </label> 
                  </button>
                  <button class="btn seventeen"  type="button" value="17">   
                    <label>
                      <!-- <input type="checkbox"> -->
                      <span>17시간↑</span>
                    </label> 
                  </button>
                  <script>
                    // 이벤트 핸들러 함수
                    function handleButtonClick(event) {
                      const buttons = document.getElementsByClassName('btn');
                      for (let i = 0; i < buttons.length; i++) {
                        buttons[i].classList.remove('active');
                      }
                      event.currentTarget.classList.add('active');
                      const sleepingTimeInput = document.getElementById('sleeping_time');
                      sleepingTimeInput.value = event.currentTarget.value;
                    }
                  
                    // 버튼들에 클릭 이벤트 핸들러 등록
                    const buttons = document.getElementsByClassName('btn');
                    for (let i = 0; i < buttons.length; i++) {
                      buttons[i].addEventListener('click', handleButtonClick);
                    }
                  </script>
                  <input type="hidden" id="sleeping_time" name="sleep_time" value="">
                    <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.calendar !== 'undefined' && calendarDataResult.calendar && typeof calendarDataResult.calendar.sleep_time !== 'undefined') { %>
                      <script>
                      const sleepTime = <%= calendarDataResult.calendar.sleep_time %>;
                      const sleepButton = document.getElementsByClassName('btn')[sleepTime -3];
                      sleepButton.classList.add('active');
                      const sleepingTimeInput = document.getElementById('sleeping_time');
                      sleepingTimeInput.value =  sleepTime;
                      
                    </script>
                    <% } %>
                        
                    
                </div>
                

                
              </div>

            </div>


            <div class="symptom_check_right">
              <div class="symptom">
                <div class="title"> <p> 증상 </p> </div>
                <div>
                  <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.symptom_list !== 'undefined' && calendarDataResult.symptom_list && calendarDataResult.symptom_list.length !== 0) { %>
                    
                    <% for (let i = 0; i < calendarDataResult.symptom_list.length; i++) { %>
                    <div class="symptomTextBox ">                    
                      <input class="inputbX" type="text" id="<%= i %>" name="symptom_text" value="<%= calendarDataResult.symptom_list[i].symptom_name %>">
                      <p><input type="time"  name="symptom_time" class="symptom-time" value="<%= calendarDataResult.symptom_list[i].onset_time%>" ></p>                      
                      
                    </div>

                    <div class="box-body">
                      <input type="range" name="symptom_range" min="1" max="10" id="ex-in-<%= i %>" class="range-in" value="<%= calendarDataResult.symptom_list[i].degree %>">
                      <div id="ex-out-<%= i %>" class="range-out"> <%= calendarDataResult.symptom_list[i].degree %> </div>
                      <script>
                        const exIn<%= i %> = document.querySelector('#ex-in-<%= i %>');
                        const exOut<%= i %> = document.querySelector('#ex-out-<%= i %>');
                
                        exIn<%= i %>.addEventListener('input', e => {
                          exOut<%= i %>.innerHTML = e.target.value;
                        });
                      </script>
                    </div>
                    <% } %>
                    <% for (let i = calendarDataResult.symptom_list.length; i < 4; i++) { %>
                      <div class="symptomTextBox ">
                      <input class="inputbX" type="text"  name="symptom_text" placeholder="증상명">
                      <p><input type="time" name="symptom_time" class="symptom-time"></p>                     
                    </div>
                    <div class="box-body"> 
                      <input type="range" name="symptom_range" min="1" max="10" id="ex-in-<%= i %>"  class="range-in">   
                    <div id="ex-out-<%= i %>" class="range-out"></div>
                    <script>
                      const exIn<%= i %> = document.querySelector('#ex-in-<%= i %>');
                      const exOut<%= i %> = document.querySelector('#ex-out-<%= i %>');
              
                      exIn<%= i %>.addEventListener('input', e => {
                        exOut<%= i %>.innerHTML = e.target.value;
                      });
                    </script>          
                  </div>

                    <% } %>
                  <% } else { %>
                    <div class="symptomTextBox 1">                    
                      <input class="inputbX" type="text"  name="symptom_text" placeholder="증상명" >
                      <p><input type="time" name="symptom_time" class="symptom-time"></p>             
                    </div>
                  
                    <div class="box-body"> 
                        <input type="range" name="symptom_range" min="1" max="10" id="ex-in1" class="range-in">   
                      <div id="ex-out1" class="range-out"></div>
                      <script>
                      document.querySelector('#ex-in1').addEventListener('input',e=>{
                      document.querySelector('#ex-out1').innerHTML= e.target.value;
                      });
                      </script>           
                    </div>

                    <div class="symptomTextBox 2">
                      <input class="inputbX" type="text"  name="symptom_text" placeholder="증상명">
                      <p><input type="time" name="symptom_time" class="symptom-time"></p>                     
                    </div>
                    <div class="box-body"> 
                      <input type="range" name="symptom_range" min="1" max="10" id="ex-in2" class="range-in">   
                      <div id="ex-out2" class="range-out"></div>
                      <script>
                        document.querySelector('#ex-in2').addEventListener('input',e=>{
                        document.querySelector('#ex-out2').innerHTML= e.target.value;
                        });
                      </script>           
                    </div>
                    <div class="symptomTextBox 3">
                      <input class="inputbX" type="text"  name="symptom_text" placeholder="증상명">
                      <p><input type="time" name="symptom_time" class="symptom-time"></p>                     
                    </div>
                    <div class="box-body"> 
                      <input type="range" name="symptom_range" min="1" max="10" id="ex-in3" class="range-in">   
                      <div id="ex-out3" class="range-out"></div>
                      <script>
                        document.querySelector('#ex-in3').addEventListener('input',e=>{
                        document.querySelector('#ex-out3').innerHTML= e.target.value;
                        });
                      </script>           
                    </div>
                    <div class="symptomTextBox 4">
                      <input class="inputbX" type="text"  name="symptom_text" placeholder="증상명">
                      <p><input type="time" name="symptom_time" class="symptom-time"></p>                     
                    </div>
                    <div class="box-body"> 
                      <input type="range" name="symptom_range" min="1" max="10" id="ex-in4" class="range-in">   
                      <div id="ex-out4" class="range-out"></div>
                      <script>
                        document.querySelector('#ex-in4').addEventListener('input',e=>{
                        document.querySelector('#ex-out4').innerHTML= e.target.value;
                        });
                      </script>           
                    </div>
                  <% } %>

                </div>
              </div>

              <div class="diary">
                <div class="title">
                  <p>관찰일기</p>
                </div>
                <div class="diaryTextBox">
                  <% if (typeof calendarDataResult !== 'undefined' && calendarDataResult && typeof calendarDataResult.calendar !== 'undefined' && calendarDataResult.calendar && typeof calendarDataResult.calendar.diary !== 'undefined') { %>
                  <textarea id="inputBx" name="diary_text" rows="4" cols="50"><%= calendarDataResult.calendar.diary %></textarea>
                  <% } else { %>
                  <textarea id="inputBx" name="diary_text" rows="4" cols="50"></textarea>
                  <% } %>
                </div>
                <div class="symBtndiv">
                  <button type="submit" id="symB" class="symBtn" onclick="submitCheck()">저장</button>
                </div>
              </div>
                
            </div>

          </div>


        </div>
      </form>
      </div>

    </div>
  </div>

</section><!-- End Hero -->
<!-- <script src="/js/calendar.js"></script> -->
<%-include('calendar_memory.ejs') %>